PORT=5000

MONGO_URI=mongodb+srv://siddharthadas620_db_user:I1zxfNjJx6CJosY3@socialhub.fps6ifv.mongodb.net/socialhub?retryWrites=true&w=majority&appName=SocialHub

JWT_SECRET=SocialHub_2026_Siddhartha_MERN_Project_Secure_Key_123456

CLIENT_URL=http://localhost:5173